* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to bottom right,
      var(--pink-light),
      var(--cyan-light)
    );
  color: var(--blue-dark);

  /* font-family: 'Poppins', sans-serif; */
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 35px 15px;
  -webkit-tap-highlight-color: transparent;
}

body.hide-scrolling {
  overflow-y: hidden;
}

body::before {
  background-color: var(--green-yellow);
  content: '';
  height: 100%;
  left: 0;
  opacity: 12%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

section {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  min-height: calc(100vh - 70px);
  border-radius: 30px;
  -webkit-backdrop-filter: var(--backdrop-filter-blur);
  backdrop-filter: var(--backdrop-filter-blur);
  display: none;
}

section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out forwards;
}

section.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
} */
